{% extends 'adminViewTemplate/base.html' %}
{% block pageTitle %}
    Chỉnh sửa môn học
{% endblock pageTitle %}
{% block mainContent %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"></h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" action="/saveSubjectEdit" method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Chứng chỉ</label>
                                    <select class="form-control" name="course">
                                        {% for course in courses %}
                                            <option value="{{ course.id }}" {% if course.id == subject.courseID.id %}
                                                    selected {% endif %}>
                                                {{ course.courseName }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Giảng viên</label>
                                    <select class="form-control" name="teacher">
                                        {% for teacher in teachers %}
                                            <option value="{{ teacher.id }}" {% if teacher.id == subject.teacherID.id %}
                                                    selected {% endif %}>
                                                {{ teacher.first_name }} {{ teacher.last_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Tên môn học</label>
                                    <input type="text" class="form-control" name="subjectName"
                                           placeholder="Nhập tên môn học" value="{{ subject.subjectName }}">
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="subjectID" value="{{ subject.id }}">
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        {% if messages %}
                                            {% for message in messages %}
                                                {% if message.tags == 'error' %}
                                                    <div class="alert alert-danger"
                                                         style="margin-top:10px">{{ message }}</div>
                                                {% endif %}
                                                {% if message.tags == 'success' %}
                                                    <div class="alert alert-success"
                                                         style="margin-top:10px">{{ message }}</div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>


                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Sửa</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock mainContent %}